body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    background: rgb(255, 255, 255);
    font-family: 'Libre Baskerville', serif;
    color: rgb(50, 80, 80);
}

/*HEADER*/

#header{
    background-image:url(http://www.csszengarden.com/214/contours.png), url(http://www.csszengarden.com/214/noise.png) ,url(http://www.csszengarden.com/214/gridlines-opaque.png), url(http://www.csszengarden.com/214/huntington.jpg);
    grid-column: 1/3;
    background-size: 50% auto, auto, auto, cover;
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-color: rgb(45, 99, 96, 0.50);
    font-size: 25px;
    padding-bottom: 20px;
    height: 290px;
    font-family: 'Julius Sans One', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15%;
    line-height: 40px;
}

#header h1{
    font-weight: normal;
}

#header h1::before{
    display: inline-block;
    position: relative;
    top: 20px;
    content: "";
    width: 125px;
    height: 120px;
    margin: -20px 20px 0 0;
    background: url(http://www.csszengarden.com/214/enso.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.6;
}

#header #span1{
    margin-left: 150px;
    margin-top: -25px;
}

#header span{
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    color: rgba(240, 248, 255, 0.589);
    
}

#headImg{
    display: none;
}

#header2{
    background-image:url(http://www.csszengarden.com/214/contours.png), url(http://www.csszengarden.com/214/noise.png) ,url(http://www.csszengarden.com/214/gridlines-opaque.png), url(http://www.csszengarden.com/214/huntington.jpg);
    background-position: 0 0, 0 0, -50px -25px, 0 50%;
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-position:right;
    background-color: rgb(45, 99, 96);
    grid-column-start: 3/4;
    background-color:  rgb(75, 141, 81);
    text-align: center;
    font-family:'Arial Narrow';
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#header2 #a1{
    font-size: larger;
    text-decoration: none;
    color: rgb(210, 210, 210);
    background-color: rgba(255, 255, 255, 0.17);
    height: 70px;
    width: 250px;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 150ms ease-in;
    /* margin: 0 1px 0 1px; */
}

#header2 #a1:hover{
    background-color: rgba(255, 255, 255, 0.30);
    color: white;
}

#header2 #a2{
    font-size: larger;
    text-decoration: none;
    color: rgb(210, 210, 210);
    background-color: rgba(255, 255, 255, 0.17);
    height: 70px;
    width: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 150ms ease-in;
}

#header2 #a2:hover{
    background-color: rgba(255, 255, 255, 0.30);
    color: white;
}

#header2 #a3{
    font-size: larger;
    text-decoration: none;
    color: rgb(210, 210, 210);
    background-color: rgba(255, 255, 255, 0.17);
    height: 70px;
    width: 55px;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 150ms ease-in;
}

#header2 #a3:hover{
    background-color: rgba(255, 255, 255, 0.30);
    color: white;
}


/* INFO 1*/

#info1{
    grid-column: 1/3;
    height: 1040px;
    height: 100%;

}

#info1P1{
    padding-left: 140px;
    padding-top: 50px;
    padding-right: 75px;
    line-height: 35px;
}

#info1P2{
    padding-left: 140px;
    padding-right: 75px;
    line-height: 35px;
}

#info1P2 a{
    font-family: 'Julius Sans One', sans-serif;
    color: rgb(107, 150, 107);
    transition: all 200ms ease-out;
    padding: 2px;
    text-decoration: none;
    text-transform: uppercase;
}

#info1P2 a:hover{
    background-color: rgb(58, 112, 112);
    color: aliceblue;
}

#info1H31{
    font-family: 'Julius Sans One', sans-serif;
    padding-left: 140px;
    font-weight: normal;
    font-size: 30px;
}

#info1P3{
    padding-left: 140px;
    padding-right: 75px;
    line-height: 35px;

}

#info1P3 span{
    text-decoration: underline dotted;
}

#info1P4{
    padding-left: 140px;
    padding-right: 75px;
    line-height: 35px;
}

#info1P4 span{
    text-decoration: underline dotted;
}

#info1P5{
    padding-left: 140px;
    padding-right: 75px;
    line-height: 35px;
}

#info1H32{
    font-family: 'Julius Sans One', sans-serif;
    padding-left: 140px;
    font-weight: normal;
    font-size: 30px;
}

#info1P6{
    padding-left: 140px;
    padding-right: 75px;
    line-height: 35px;
}

#info1P6 span{
    text-decoration: underline dotted;
}

#info1P7{
    padding-left: 140px;
    padding-right: 75px;
    line-height: 35px;
}

#info1P7 span{
    text-decoration: underline dotted;
}

/*CSS LIST*/

#cssList{
    grid-column: 3/4;
    background-color: rgb(221, 231, 225);
    padding-left: 80px;
    list-style: none;
    padding-top: 40px;
    padding-right: 130px;
    line-height: 25px;
}

#li1{
    padding: 25px 25px 25px 0;
    border-bottom: 1px solid rgba(167, 187, 167, 0.288) ;
    display: flex;
    flex-direction: column;
    font-style: italic;
    color: rgb(158, 177, 158);
    font-size: large;
}

#li1 a{
    text-decoration: none;
    font-family: 'Julius Sans One', sans-serif;
    font-style: normal;
    color: rgb(77, 94, 77);
    transition: all 200ms ease-out;
}

#li1 #name{
    font-family: 'Libre Baskerville', serif;
    color: rgba(68, 87, 68, 0.829);
    transition: all 200ms ease-out;
    font-size: smaller;
}

#li1 #name:hover{
    color: rgb(0, 173, 145);
}

#li1 a:hover{
    color: rgb(0, 173, 145);
}

/*INFO 2*/

#info2{
    grid-column: 1/3;
    height: 920px;
    height: 100%;
    background-color: rgb(167, 188, 169);
    background-attachment: fixed, fixed, fixed, scroll;
    background-position: 0 0, 0 0, -5px -25px, 0 50%;
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-size: auto, auto, auto, cover;
    background-image: url(http://www.csszengarden.com/214/contours.png), url(http://www.csszengarden.com/214/gridlines.png), url(http://www.csszengarden.com/214/bamboo.png);
}

#info2H31{
    font-family: 'Julius Sans One', sans-serif;
    padding-left: 140px;
    padding-top: 30px;
    font-weight: normal;
    font-size: 30px;
}

#info2P1{
    padding-left: 140px;
    padding-right: 75px;
    line-height: 35px;
}

#info2P1 span{
    text-decoration: underline dotted;
}

#info2P1 a{
    text-decoration: none;
    color:rgb(0, 132, 141)
}

#info2P1 a:hover{
    text-decoration: underline;
}

#info2P2{
    padding-left: 140px;
    padding-right: 75px;
    line-height: 35px;
}

#info2P2 span{
    text-decoration: underline dotted;
}

#info2P3{
    padding-left: 140px;
    padding-right: 75px;
    line-height: 35px;
}

#info2P3 span{
    text-decoration: underline dotted;
}

#info2P3 a{
    text-decoration: none;
    color:rgb(0, 132, 141)
}

#info2P3 a:hover{
    text-decoration: underline;
}

#info2H32{
    font-family: 'Julius Sans One', sans-serif;
    padding-left: 140px;
    font-weight: normal;
    font-size: 30px;
}

#info2P4{
    padding-left: 140px;
    padding-right: 75px;
    line-height: 35px;
}

#info2P4 span{
    text-decoration: underline dotted;
}

/* BLANK */

#blank{
    grid-column:3/4;
    background-color: rgb(221, 231, 225);
    padding-left: 60px;
    list-style: none;
    padding-top: 40px;
    padding-right: 140px;
}

/*INFO 3*/

#info3{
    grid-column: 1/3;
    height: 960px;
    height: 100%;
}

#info3H31{
    font-family: 'Julius Sans One', sans-serif;
    padding-left: 140px;
    padding-top: 35px;
    font-weight: normal;
    font-size: 30px;
}

#info3P1{
    padding-left: 140px;
    padding-right: 75px;
    line-height: 35px;
}

#info3P1 span{
    text-decoration: underline dotted;
}

#info3P2{
    padding-left: 140px;
    padding-right: 75px;
    line-height: 35px;
}

#info3P2 span{
    text-decoration: underline dotted;
}

#info3P3{
    padding-left: 140px;
    padding-right: 75px;
    line-height: 35px;
}

#info3P4{
    padding-left: 140px;
    padding-right: 75px;
    line-height: 35px;
}

#info3P4 span{
    text-decoration: underline dotted;
}

#info3P4 a{
    text-decoration: none;
    color:rgb(0, 132, 141)
}

#info3P4 a:hover{
    text-decoration: underline;
}

/*RES LIST*/

#resList{
    grid-column: 3/4;
    background-color: rgb(151, 179, 153);
    background-image: url(http://www.csszengarden.com/214/contours.png), url(http://www.csszengarden.com/214/gridlines.png), url(http://www.csszengarden.com/214/bamboo.png);
    background-attachment: fixed, fixed, fixed, scroll;
    background-position: 0 0, 0 0, -5px -25px, 0 50%;
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-size: auto, auto, auto, cover;
    padding-top: 100px;
    padding-left: 80px;
    list-style: none;
    padding-right: 140px;
    line-height: 25px;
}

#li2{
    padding: 25px 25px 25px 0;
    border-bottom: 1px solid rgba(107, 131, 107, 0.801) ;
    display: flex;
    flex-direction: column;
    font-style: italic;
    color: rgb(158, 177, 158);
    font-size: large;
}

#li2 a{
    color: rgb(77, 94, 77);
    text-decoration: none;
    font-family: 'Julius Sans One', sans-serif;
    font-style: normal;
    transition: all 200ms ease-out;
}

#li2 span{
    text-decoration: underline dotted;
}

#li2 a:hover{
    color: rgb(0, 173, 145);
}

/* FOOTER */

#footer{
    background-image:url(http://www.csszengarden.com/214/contours.png), url(http://www.csszengarden.com/214/noise.png) ,url(http://www.csszengarden.com/214/gridlines-opaque.png), url(http://www.csszengarden.com/214/koi.jpg) ;
    background-position: 0 0, -5px -25px, 0 0, 0 50%;
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-size: auto, auto, auto, cover;
    grid-column: 1/4;
    height: 320px;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.452);
    text-align: center;
    font-size: 30px;
    font-style: italic;
    line-height: 50px;
    padding: 0px 180px 0 180px;
    display: flex;
    align-items: center;
}

#footer a{
    color: rgba(240, 248, 255, 0.726);
    font-style: normal;
    text-decoration: none;
}

#footer a:hover{
    text-decoration: underline;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 176px;
    grid-column: 1/4;
    background-color: rgb(19, 67, 71);
}

#footerLi{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0 7% 0 7%;
}

#footerLi a{
    color: rgb(163, 163, 163);
}

.material-symbols-outlined{
    font-size: 80px;
}

.material-symbols-rounded {
    font-size: 80px;
}


/*smaller screen*/

@media only screen and (max-width: 1132px) {

    body{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0;
        background: rgb(255, 255, 255);
        font-family: 'Libre Baskerville', serif;
        color: rgb(50, 80, 80);
        font-size: 85%;
    }

    /*HEADER*/

    #header{
        background-image:url(http://www.csszengarden.com/214/contours.png), url(http://www.csszengarden.com/214/noise.png) ,url(http://www.csszengarden.com/214/gridlines-opaque.png), url(http://www.csszengarden.com/214/huntington.jpg);
        grid-column: 1/4;
        grid-row: 1/2;
        background-color: rgb(45, 99, 96, 0.50);
        font-size: 19px;
        padding-bottom: 20px;
        height: 210px;
        font-family: 'Julius Sans One', sans-serif;
        color: white;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-right: 130px;

    }
    
    #header h1{
        font-weight: normal;
    }
    
    #header h1::before{
        display: inline-block;
        position: relative;
        top: 20px;
        content: "";
        width: 125px;
        height: 120px;
        margin: -20px;
        background: url(http://www.csszengarden.com/214/enso.svg);
        background-repeat: no-repeat;
        background-size: 70%;
        opacity: 0.6;
    }
    
    #header #span1{
        margin-left: 150px;
        margin-top: -25px;
    }
    
    #header span{
        font-family: 'Libre Baskerville', serif;
        font-style: italic;
        color: rgba(240, 248, 255, 0.589);
        
    }
    
    #header2{
        background-color: rgb(45, 99, 96);
        grid-column: 1/4;
        grid-row: 2/2;
        background-color:  rgb(75, 141, 81);
        text-align: center;
        font-family:'Arial Narrow';
        height: 10px;
        background: none;
    }
    
    #header2 #a1{
        font-size: large;
        text-decoration: none;
        color: rgb(210, 210, 210);
        background-color: rgba(255, 255, 255, 0.17);
        height: 85px;
        width: 100%;
        padding-left: 0px;
        padding-bottom: 70px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all 150ms ease-in;
        /* margin: 0 1px 0 1px; */
    }
    
    #header2 #a1:hover{
        background-color: rgba(255, 255, 255, 0.30);
        color: white;
    }
    
    #header2 #a2{
        font-size: larger;
        text-decoration: none;
        color: rgb(210, 210, 210);
        background-color: rgba(255, 255, 255, 0.17);
        height: 85px;
        width: 70px;
        padding-bottom: 70px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all 150ms ease-in;
    }
    
    #header2 #a2:hover{
        background-color: rgba(255, 255, 255, 0.30);
        color: white;
    }

    #header2 #a3{
        font-size: larger;
        text-decoration: none;
        color: rgb(210, 210, 210);
        background-color: rgba(255, 255, 255, 0.17);
        height: 85px;
        width: 45px;
        padding-bottom: 70px;
        display: flex;
        flex-direction: row;
        align-items: center;
        transition: all 150ms ease-in;
    }
    
    #header2 #a3:hover{
        background-color: rgba(255, 255, 255, 0.30);
        color: white;
    }

    #header2 #a4{
        font-size: larger;
        text-decoration: none;
        color: rgb(210, 210, 210);
        background-color: rgba(255, 255, 255, 0.17);
        height: 85px;
        width: 70px;
        padding-bottom: 70px;
        display: flex;
        flex-direction: row;
        align-items: center;
        transition: all 150ms ease-in;
    }

    #info1{
        grid-column: 1/4;
        grid-row: 2/3;
        height: 660px;
        height: 100%;
    }

    #info1 p{
        line-height: 25px;
        padding-left: 110px;
    }

    #info1 h3{
        line-height: 25px;
        padding-left: 110px;
        font-size: 20px;
    }

    #info2{
        grid-column: 1/4;
        grid-row: 3/4;
        height: 520px;
        height: 100%;
    }

    #info2 p{
        line-height: 25px;
        padding-left: 110px;
    }

    #info2 h3{
        line-height: 25px;
        padding-left: 110px;
        font-size: 25px;
    }

    #info3{
        grid-column: 1/4;
        grid-row: 4/5;
        height: 540px;
        height: 100%;
    }

    #info3 p{
        line-height: 25px;
        padding-left: 110px;
    }

    #info3 h3{
        line-height: 25px;
        padding-left: 110px;
        font-size: 25px;
    }

    #footer{
        grid-row: 5/6;
        font-size: 21px;
        height: 180px;
    }

    footer{
        grid-row: 6/7;
        height: 120px;
    }

    .material-symbols-outlined{
        font-size: 60px;
    }
    
    .material-symbols-rounded {
        font-size: 60px;
    }
    

    /*CSS LIST*/

    #cssList{
        grid-column: 1/4;
        grid-row: 7/8;
        display:flex;
        flex-wrap:wrap;
        flex-direction: column;
        height: 330px;
        padding-left: 100px;
        margin-top: -30px;
    }

    #li1{
        padding: 15px 217px 15px 0;
        border-bottom: 1px solid rgba(167, 187, 167, 0.288) ;
        display: block;
        color: rgb(158, 177, 158);
    }
    
    #li1 a{
        text-decoration: none;
        font-family: 'Julius Sans One', sans-serif;
        font-style: normal;
        color: rgb(77, 94, 77);
        transition: all 200ms ease-out;
    }
    
    #li1 #name{
        font-family: 'Libre Baskerville', serif;
        color: rgba(68, 87, 68, 0.829);
        transition: all 200ms ease-out;
        font-size: smaller;
        display: block;
    }
    
    #li1 #name:hover{
        color: rgb(0, 173, 145);
    }
    
    #li1 a:hover{
        color: rgb(0, 173, 145);
    }

    /*RES LiST*/

    #resList{
        grid-column: 1/4;
        grid-row: 8/9;
        height: 200px;
        padding-top: 0px;
        padding-left: 100px;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
    }

    
    #li2{
        padding: 15px 238px 15px 0;
        border-bottom: 0px solid rgba(107, 131, 107, 0.801) ;
        font-style: italic;
        color: rgb(158, 177, 158);
        display: block;
    }
    
    #li2 a{
        color: rgb(77, 94, 77);
        text-decoration: none;
        font-family: 'Julius Sans One', sans-serif;
        font-style: normal;
        transition: all 200ms ease-out;
    }


    #blank{
    visibility: hidden;
        grid-row: 7/8;
    }

}

/*phone*/
@media only screen and (max-width: 414px){

    /*HEADER*/

    #header{
        background-image:url(http://www.csszengarden.com/214/contours.png), url(http://www.csszengarden.com/214/noise.png) ,url(http://www.csszengarden.com/214/gridlines-opaque.png), url(http://www.csszengarden.com/214/huntington.jpg);
        grid-column: 1/4;
        grid-row: 1/2;
        background-color: rgb(45, 99, 96, 0.50);
        font-size: 15px;
        padding-bottom: 20px;
        height: 205px;
        font-family: 'Julius Sans One', sans-serif;
        color: white;
        display: block;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        line-height: 15px;
        padding-top: 25px;
    }
    
    #header h1{
        font-weight: normal;
    }
    
    #headImg{
        display: block;
        text-align: center;
        line-height: 0px;
        opacity: 70%;
    }

    #header h1::before{
     content: none;
    }
    
    #header #span1{
        text-align: center;
        margin-left: 0;
    }
    
    #header span{
        font-family: 'Libre Baskerville', serif;
        font-style: italic;
        color: rgba(240, 248, 255, 0.589);
    }
    
    #header2{
        background-color: rgb(45, 99, 96);
        grid-column: 1/4;
        grid-row: 2/2;
        background-color:  rgb(75, 141, 81);
        text-align: center;
        font-family:'Arial Narrow';
        height: 10px;
        background: none;
    }
    
    #header2 #a1{
        font-size: large;
        text-decoration: none;
        color: rgb(210, 210, 210);
        background-color: rgba(255, 255, 255, 0.17);
        height: 85px;
        width: 100%;
        padding-left: 0px;
        padding-bottom: 70px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all 150ms ease-in;
        margin: 0 1px 0 1px;
    }
    
    #header2 #a1:hover{
        background-color: rgba(255, 255, 255, 0.30);
        color: white;
    }
    
    #header2 #a2{
        font-size: larger;
        text-decoration: none;
        color: rgb(210, 210, 210);
        background-color: rgba(255, 255, 255, 0.17);
        height: 85px;
        width: 70px;
        padding-bottom: 70px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all 150ms ease-in;
    }
    
    #header2 #a2:hover{
        background-color: rgba(255, 255, 255, 0.30);
        color: white;
    }

    #header2 #a3{
        font-size: larger;
        text-decoration: none;
        color: rgb(210, 210, 210);
        background-color: rgba(255, 255, 255, 0.17);
        height: 85px;
        width: 35px;
        padding-bottom: 70px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all 150ms ease-in;
    }
    
    #header2 #a3:hover{
        background-color: rgba(255, 255, 255, 0.30);
        color: white;
    }

    #header2 #a4{
        width: 67px;
    }

    /*INFO*/

    #info1{
        grid-column: 1/4;
        grid-row: 2/3;
        height: 660px;
        height: 100%;
    }

    #info1 p{
        line-height: 25px;
        padding-left: 40px;
        padding-right: 40px;
    }

    #info1P1{
        padding-top: 15px;
        height: 50px;
    }

    #info1P2{
        visibility: hidden;

    }

    #info1 h3{
        line-height: 25px;
        padding-left: 40px;
        font-size: 20px;
    }

    #info2 p{
        line-height: 25px;
        padding-left: 40px;
        padding-right: 40px;
    }
    
    #info2 h3{
        line-height: 25px;
        padding-left: 40px;
        font-size: 20px;
        padding-top: 15px;
    }

    
    #info3 p{
        line-height: 25px;
        padding-left: 40px;
        padding-right: 40px;
    }
    
    #info3 h3{
        line-height: 25px;
        padding-left: 40px;
        font-size: 20px;
        padding-top: 15px;
    }
    
    /*CSS LIST*/

    #cssList{
        grid-column: 1/4;
        grid-row: 7/8;
        display:flex;
        flex-wrap:wrap;
        flex-direction: column;
        height: 430px;
        padding-left: 20px;
        margin-top: -30px;
        margin-bottom: -40px;
    }

    #li1{
        padding: 10px 10px 10px 0;
        border-bottom: 1px solid rgba(167, 187, 167, 0.288) ;
        display: block;
        color: rgb(158, 177, 158);
        font-size: 15px;
    }

    #li1 a{
        text-decoration: none;
        font-family: 'Julius Sans One', sans-serif;
        font-style: normal;
        color: rgb(77, 94, 77);
        transition: all 200ms ease-out;
        font-size: normal;
        display: block;
    }

    #li1 #name{
        font-size: small;
    }

    /*FOOTER*/

    #footer{
        background-image:url(http://www.csszengarden.com/214/contours.png), url(http://www.csszengarden.com/214/noise.png) ,url(http://www.csszengarden.com/214/gridlines-opaque.png), url(http://www.csszengarden.com/214/koi.jpg) ;
        background-position: 0 0, -5px -25px, 0 0, 0 50%;
        background-repeat: repeat, repeat, repeat, no-repeat;
        background-size: auto, auto, auto, cover;
        grid-column: 1/4;
        height: 225px;
        text-align: center;
        padding: 0 30px;
        font-size: 22px;
        line-height: 43px;
    }


    footer{
        grid-row: 6/7;
        height: 120px;
    }

    .material-symbols-outlined{
        font-size: 40px;
    }

    .material-symbols-rounded {
        font-size: 40px;
    }

    /*RES LIST*/

    #resList{
        grid-column: 1/4;
        grid-row: 8/9;
        height: 160px;
        padding-top: 0px;
        padding-left: 20px;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
    }

    
    #li2{
        padding: 10px 10px 10px 0;
        border-bottom: 0px solid rgba(107, 131, 107, 0.801) ;
        font-style: italic;
        color: rgb(158, 177, 158);
        display: block;
    }

    #li2 a{
        color: rgb(77, 94, 77);
        text-decoration: none;
        font-family: 'Julius Sans One', sans-serif;
        font-style: normal;
        font-size: 15px;
        transition: all 200ms ease-out;
        display: block;
    }
}


/*smaller phone*/
@media only screen and (max-width: 413px){
   
    #cssList{
        grid-column: 1/4;
        grid-row: 7/8;
        display:flex;
        flex-wrap:wrap;
        flex-direction: column;
        height: 430px;
        padding-left: 20px;
        margin-top: -30px;
        margin-bottom: -40px;
    }

    #li1{
        padding: 10px 10px 10px 0;
        border-bottom: 1px solid rgba(167, 187, 167, 0.288) ;
        display: block;
        color: rgb(158, 177, 158);
        font-size: 13px;
    }

    #li1 a{
        text-decoration: none;
        font-family: 'Julius Sans One', sans-serif;
        font-style: normal;
        color: rgb(77, 94, 77);
        transition: all 200ms ease-out;
        font-size: normal;
        display: block;
    }

    #li1 #name{
        font-size: smaller;
    }

    #info1H31{
        padding-right: 30px;
    }

    #info1H32{
        padding-right: 30px;
    }

    #blank{
        display: none;
    }
}

@media only screen and (max-width: 280px){

    #cssList{
        grid-column: 1/4;
        grid-row: 7/8;
        display:block;
        height: 900px;
        margin-top: 0px;

    }

    #resList{
        grid-column: 1/4;
        grid-row: 8/9;
        height: 306px;
        padding-top: 0px;
        list-style: none;
        display: block;
    }

    #resList #li2{
        border-bottom: 1px solid rgba(107, 131, 107, 0.801) ;
    }

    #footer{
        height: 255px;
    }

    footer{
        padding: 0 5px;
    }

    #blank{
        display: none;
    }
}